@import "../../../node_modules/bootstrap/scss/functions";
@import "../../theme";

@keyframes oci-infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.editor {
  ul {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    margin: 0;

    li.oc-hierarchy {
      display: inline-block;
      position: relative;
      margin-left: auto;
      margin-right: auto;

      &.level-1 {
        &::before {
          display: none;
        }
        & > .oc-node::before {
          display: none;
        }
      }

      .oc-node {
        $currentColor: $primary;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        margin: 0 4px;
        transition: box-shadow 300ms ease-out, opacity 300ms ease-in-out;
        margin-bottom: 20px;
        &:hover {
          // outline: 3px solid rgba($yellow, 0.5);
          cursor: pointer;
        }
        &:not(:only-child) {
          &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: calc(50% - 1px);
            width: 2px;
            height: 9px;
            background-color: $currentColor;
          }
        }
        &.end-node {
          &::after {
            display: none;
          }
        }

        .oc-container {
          font-size: 1rem;
          width: 14rem;
          background-color: $currentColor;
          padding: 2px;
          border-radius: $border-radius;
          outline-width: 3;
          outline-color: transparent;
          transition-timing-function: ease-out;
          transition: box-shadow 100ms, transform 100ms, outline-color 100ms;
          box-shadow: rgba($gray-600, 0.2) 0px 1px 2px;
          &:hover {
            transform: translateY(-1px);
            box-shadow: rgba($gray-600, 0.5) 0px 8px 24px;
          }
          .oc-heading {
            width: 100%;
            padding: 0.5rem;
            margin: 0;
            min-height: 20px;
            font-size: 0.75em;
            font-weight: bold;
            overflow: hidden;
            text-align: left;
            background-color: $currentColor;
            color: #fff;
            h1 {
              font-size: 1em;
            }
            h2 {
              font-size: 0.75em;
            }
            h3 {
              font-size: 0.70em;
              font-style: italic;
              margin-bottom: 0;
            }
          }
          .oc-content {
            padding: 0.75rem;
            width: 100%;
            max-width: 100%;
            font-size: 0.625rem;
            color: $body-color;
            text-overflow: ellipsis;
            // white-space: nowrap;
            text-align: left;
            background-color: $white;
            ul.departments {
              display: block;
              padding-top: 0.3rem;
              padding-bottom: 0.2rem;  
              padding-left: 0.7rem;
              padding-right: 0.7rem;
              li {
                width: 100%;
                display: block;
                &::before {
                  display: none;
                }
                h3 {
                  font-size: 1.15em;
                  font-weight: bold;
                }
                .name {
                  display: inline-block;
                  font-size: 0.7em;
                  font-weight: bold;
                  margin-bottom: 0;
                }
                .position {
                  display: block;
                }
              }
            }
            ul.employees {
              display: block;
              li {
                width: 100%;
                display: block;
                &::before {
                  display: none;
                }
                h3 {
                  font-size: 0.75em;
                  font-weight: bold;
                }
                .name {
                  display: inline-block;
                  font-size: 1em;
                  font-weight: normal;
                  margin-bottom: 0;
                }
                .position {
                  font-size: 0.75em;
                  display: block;
                }
              }
            }
            ul.person {
              display: block;
              li {
                width: 100%;
                display: block;
                &::before {
                  display: none;
                }
                h4 {
                  font-size: 0.75em;
                  font-weight: bold;
                }
                .name {
                  display: inline-block;
                  font-size: 1.15em;
                  font-weight: bold;
                  margin-bottom: 0;
                }
                .position {
                  font-size: 0.75em;
                  display: block;
                }
              }
            }
            ul.contact {
              display: block;
              li {
                width: 100%;
                display: block;
                &::before {
                  display: none;
                }
                svg{
                  width: auto;
                  height: 1em;
                }
                h3 {
                  font-size: 0.5em;
                  font-weight: bold;
                }
                .position {
                  display: block;
                }
              }
            }
          }
        }
        &.emphasized {
          $supCurrentColor: lighten($currentColor, 5%);
          h4.person {
            font-size: 1.55em;
            font-weight: bold;
            margin-bottom: 0.15em;
          }
          .oc-container {
            width: 17rem;
            font-size: 1.5rem;
            background-color: $supCurrentColor;
            .oc-heading {
              background-color: $supCurrentColor;
            }
            .oc-content {
              ul.person {
                  .name {
                    font-size: 1.35em;
                  }
              }
            }
          }
        }
         
        &.light {
          font-size: 0.75rem;
          $supCurrentColor: rgb(95, 99, 109);
          .oc-container {
            background-color: $supCurrentColor;
            .oc-heading {
              background-color: $supCurrentColor;
            }
            .oc-content{
              //font-size: 1rem;
              font-color: $supCurrentColor;
            }
          }
        }
        &.hide {
          font-size: 0.75rem;
          $supCurrentColor: $currentColor;
          .oc-container {
          background-color: $supCurrentColor;
          height: 1rem;
          width: 1rem;
          border-radius: 10px;
            .oc-heading {
              display: none;
            }
            .oc-content{
              display: none;
              //font-size: 1rem;
              font-color: $supCurrentColor;
            }
          }
        }

        &.root {
          margin-bottom: 28px;
          opacity: 0;
          width: 100%;
          padding-right: 2rem;
          padding-left: 2rem;
          transition: opacity 300ms ease-in-out, box-shadow 300ms ease-in-out;
          .oc-container {
            width: 100%;
            background: transparent;
            box-shadow: none;

            // border: $gray-400 solid 1px;
            &:hover {
              transform: none;
              box-shadow: inset 0 0 24px $gray-300;
            }
            .oc-heading {
              text-align: center;
              color: $gray-300;
              border-radius: $border-radius;
              background-color: transparent;
            }
            // border-radius: 50%;
            // .oc-heading,
            .oc-content {
              display: none;
            }
          }
          &::after {
            display: none;
          }
        }
        &.allowedDrop {
          .oc-container {
            opacity: 0.5;
            background-color: $green;
            .oc-heading {
              background-color: $green;
              color: $white;
            }
            .oc-content {
              box-shadow: inset 0 0 1rem rgba($green, 0.5);
            }
          }
        }
        &.root.allowedDrop {
          opacity: 1;
          .oc-container {
            background: $white;
            .oc-heading {
              box-shadow: inset 0 0 1rem rgba($green, 0.5);
              border: $green solid 2px;
              color: $green;
              background: transparent;
            }
          }
        }
        &selected .oc-container {
          outline: 3px solid $input-btn-focus-color;
          transform: translateY(-1px);
          box-shadow: rgba($gray-600, 0.8) 0px 8px 24px;
        }
        &.isChildrenCollapsed {
          &:not(:only-child) {
            &::after {
              content: none;
            }
          }
        }
      }
    }
  }
  .chart-container {
    & > ul {
      > li {
        > ul {
          li {
            &::before {
              content: "";
              position: absolute;
              top: -11px;
              left: 0;
              width: 100%;
              border-top: 2px solid $primary;
              box-sizing: border-box;
            }
            &:first-child {
              &::before {
                left: 50%;
                width: 50%;
              }
            }
            &:last-child {
              &::before {
                width: 50%;
              }
            }
            &:only-child {
              &::before {
                display: none;
              }
            }
            > .oc-node {
              &::before {
                content: "";
                position: absolute;
                top: -11px;
                left: calc(50% - 1px);
                width: 2px;
                height: 9px;
                background-color: $primary;
              }
            }
          }
          li.isSiblingsCollapsed {
            &::before {
              content: none;
            }
            > .oc-node {
              &::before {
                top: -13px;
                height: 11px;
              }
            }
          }
          li.isAncestorsCollapsed {
            > .oc-node {
              &::before {
                content: none;
              }
            }
          }
        }
      }
    }
  }
  .oc-node {
    .oc-edge {
      position: absolute;
      cursor: default;
      transition: 0.2s;
      &::before {
        border-color: rgba($green, 0.5);
      }
      &:hover {
        cursor: pointer;
      }
    }
    .verticalEdge {
      width: calc(100% - 6px);
      width: -webkit-calc(100% - 6px);
      width: -moz-calc(100% - 6px);
      height: 10px;
      left: 3px;
      &::before {
        position: absolute;
        left: calc(50% - 0.3125rem);
      }
    }
    .topEdge {
      top: -2px;
    }
    .topEdge.oci-chevron-up {
      &::before {
        top: 2px;
      }
    }
    .topEdge.oci-chevron-down {
      &::before {
        bottom: 3px;
      }
    }
    .bottomEdge {
      bottom: -2px;
    }
    .bottomEdge.oci-chevron-up {
      &::before {
        bottom: -3px;
      }
    }
    .bottomEdge.oci-chevron-down {
      &::before {
        bottom: 1px;
      }
    }
    .horizontalEdge {
      width: 10px;
      height: calc(100% - 6px);
      height: -webkit-calc(100% - 6px);
      height: -moz-calc(100% - 6px);
      top: 3px;
      &::before {
        position: absolute;
        top: calc(50% - 0.3125rem);
      }
    }
    .rightEdge {
      right: -2px;
    }
    .leftEdge {
      left: -2px;
    }
    .rightEdge.oci-chevron-left {
      &::before {
        right: -3px;
      }
    }
    .rightEdge.oci-chevron-right {
      &::before {
        right: 1px;
      }
    }
    .leftEdge.oci-chevron-right {
      &::before {
        left: -3px;
      }
    }
    .leftEdge.oci-chevron-left {
      &::before {
        left: 1px;
      }
    }
  }
  .oc-edge {
    &:hover {
      &::before {
        border-color: #449d44;
      }
    }
  }
  .slide-up {
    opacity: 0;
    transform: translateY(-40px);
  }
  .slide-down {
    opacity: 0;
    transform: translateY(40px);
  }
  .slide-left {
    opacity: 0;
    transform: translateX(-130px);
  }
  .slide-right {
    opacity: 0;
    transform: translateX(130px);
  }
}
.editor.noncollapsable {
  .oc-node {
    .oc-edge {
      display: none;
    }
  }
}
.oci-spinner {
  &::before {
    content: "";
    vertical-align: text-bottom;
    display: inline-block;
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid #000;
    border-right-color: transparent;
    border-radius: 0.625rem;
    animation: oci-infinite-spinning 0.75s linear infinite;
  }
}
.mt-2 {
  margin-top: 2rem;
}
h4.person {
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 0.15em;
}